<%= form_for ([@project, @task]) do |f| %>

  <% if flash.any? %>
    <% flash.each do |type, msg| %>
      <%= msg %>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.label :task_body %>
    <%= f.text_area :task_body, :value => params[:task_body] %>
  </div>

  <div class="field">
    <%= f.label :priority %>
    <%= f.select :priority, [1, 2, 3] %>
  </div>

  <% if @project.user == current_user %>
    <div class="field">
      <%= f.label :user, "Assign to Member" %>
      <% members_array = @project.members.map{ |m| m.user } %>
      <%= f.collection_select(:user_id, members_array, :id, :full_name) %>
    </div>
  <% end %>

  <div>
    <%= f.submit %>
  </div>
<% end %>
