<div class="
<% if current_page?(project_path(@project.id)) %>
add-task form-page
  <% end %>">

  <%= form_for ([@project, @task]) do |f| %>

  <% if flash.any? %>
  <% flash.each do |type, msg| %>
  <%= msg %>
  <% end %>
  <% end %>

  <div class="field task-form-field">
    <%= f.label :task_body %>
    <%= f.text_area :task_body, value: params[:task_body]%>
  </div>

  <div class="field task-form-field">
    <%= f.label :priority %>
    <%= f.select :priority, [1, 2, 3] %>
  </div>

  <% if @project.user == current_user %>
  <div class="field task-form-field">
    <%= f.label :user, "Assign to Member" %>
    <% members_array = @project.members.map{ |m| m.user } %>
    <%= f.collection_select(:user_id, members_array, :id, :full_name) %>
  </div>
  <% end %>

  <div class='submit-button'>
    <%= f.submit %>
  </div>
  <% end %>
</div>
