<div class="user-page">

  <div class="edit-link top-left">
    <%= link_to edit_user_path do %>
      <i class="material-icons" style="font-size: 1.3em;">account_circle</i>
    <% end %>
  </div>

  <div class="welcome-div animated">
    <span class="name">Welcome, <%= @user.first_name %></span>
    <% if @user.task.present? %>
      <div class="pin-task animated">
        <%= truncate(@user.task.task_body, :length => 70) %></h1>
      </div>

      <%= link_to project_path(@user.task.project) do %>
        <div class="task-prop green"><%= @user.task.project.title %></div>
      <% end %>
      <div class="task-prop red"><%= @user.task.project.hard_deadline %></div>

      <%= link_to completed_project_task_path(@user.task.project, @user.task), method: :patch do %>
      <div class="task-prop blue" id="completed">Mark Completed</div>
      <% end %>
      <br />
      <p id="user-task-link">View all tasks</p>

    <% else %>
      <h2 id="user-task-link">What is your main task today?</h2>
    <% end %>

    <div class="user-summary">
      <!-- <h1>Notifications</h1> --><br />
      <% if @notifications.present? %>
        <div id="notifications">
          <ul>
            <%= render @notifications %>
          </ul>
        </div>
        <div class="time"><%= link_to "Mark as Read", last_read_user_path, method: :patch, :class => 'mark-read' %></div>
      <% else %>
        <p>You're up to date!</p>
      <% end %>
    </div>
  </div>

  <div class="get-quotes top-right">
   <%= link_to "#" do %>
    Need Encouragement?
   <% end %>
  </div>

  <div id="tasks-pane">
    <h1>Your Tasks</h1>
    <% if @tasks.present? %>
      <ul class="task-list">
        <% @tasks.each do |task| %>
        <li>
          <p><%= task.task_body %></p>
          <%= link_to project_path(task.project) do %>
            <div class="task-prop green"><%= task.project.title %></div>
          <% end %>
          <div class="task-prop red"><%= task.project.hard_deadline %></div>

          <%= link_to completed_project_task_path(task.project, task), method: :patch do %>
            <div class="task-prop blue complete_task"><i class="material-icons" style="font-size: 1em;">done</i></div>
          <% end %>


          <%= link_to pin_task_user_path(task: task), method: :patch, class: "pin-button" do %>
            <div class="task-prop white">  <i class="fa fa-thumb-tack" aria-hidden="true"></i></div>
          <% end %>

        </li>
        <% end %>
      </ul>
    <% else %>
      <p>There's no work to be done!</p>
    <% end %>
  </div>

  <div class="user-tasks bottom-left">
    <%= link_to "Tasks","#", :class => "task-link" %>
  </div>

  <div class="notepad">
    <%= form_for(@user) do |f| %>
      <div class="field">
        <%= f.text_area :notes, :class => "text-area-box" %>
      </div>
      <div class="submit">
        <%= f.submit "Add Note"%>
      </div>
    <% end %>
  </div>
  <div class="user-notes bottom-right">
    <%= link_to "Notes", "#", :class => "notepad-link" %>
  </div>

</div>
