<div class="user-page">

  <div class="projects-page-link">
    <%= link_to "Edit yourself", edit_user_path %>
  </div>

  <div class="welcome-div">
    <span class="name">Welcome, <%= @user.first_name %></span>
    <% if @user.task.present? %>
    <h2><%= @user.task.task_body %></h2>
    <% else %>
    <h2>What are you focused on today?</h2>
    <%= link_to "See all tasks", "#", :class => "task-link" %>
    <% end %>
  </div>

  <div class="get-quotes">
   <%= link_to "Need Encouragement?" %>
  </div>

  <div class="user-summary">
    <h1>Notifications</h1>
    <% if @notifications.present? %>
      <%= link_to "Mark as Read", last_read_user_path, method: :patch %>
      <div id="notifications">
        <%= render @notifications %>
      </div>
    <% else %>
      <p>You're up to date!</p>
    <% end %>
  </div>

  <div id="tasks-pane">
    <h1>Your Tasks</h1>
    <ul class="task-list">
      <% @tasks.each do |task| %>
      <li>
        <p><%= task.task_body %></p>
        <p><%= task.project.title %></p>
        <p><%= task.project.hard_deadline %></p>

        <% unless task.complete? %>
        <%= link_to "Edit Task", edit_project_task_path(task.project, task) %>
        <%= link_to "Task completed?", completed_project_task_path(task.project, task), method: :patch %>
        <%= link_to "Pin Task", pin_task_user_path(task: task), method: :patch %>
        <% else %>
        <p>Task completed on <%= task.completed_on %></p>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="user-tasks">
    <%= link_to "Tasks","#", :class => "task-link" %>
  </div>

  <div class="notepad">
    <%= form_for(@user) do |f| %>
      <div class="field">
        <%= f.text_area :notes, :class => "text-area-box" %>
      </div>
      <div class="submit">
        <%= f.submit "Add Note"%>
      </div>
    <% end %>
  </div>
  <div class="user-notes">
    <%= link_to "Notes", "#", :class => "notepad-link" %>
  </div>

</div>
