<div class="user-page">

  <div class="edit-link top-left hover-shadow">
    <%= link_to edit_user_path do %>
      <i class="material-icons" style="font-size: 1.3em;">account_circle</i>
    <% end %>
  </div>

  <div class="welcome-div animated">
    <div class="name">Welcome, <%= @user.first_name.capitalize %></div>
    <% if @user.task.present? %>
      <div class="pin-task animated">
        <%= truncate(@user.task.task_body, :length => 70) %></h1>
      </div>

      <%= link_to project_path(@user.task.project) do %>
        <div class="button green"><%= @user.task.project.title %></div>
      <% end %>
      <div class="button red"><%= @user.task.project.hard_deadline %></div>

      <%= link_to completed_project_task_path(@user.task.project, @user.task), class: "complete_link", method: :patch do %>
        <div class="button blue complete_task" id="completed">Mark Completed</div>
      <% end %>
      <br />
      <p class="button purple" id="user-task-link">View all tasks</p>

    <% else %>
      <h2 id="user-task-link">What is your main <u>task</u> today?</h2>
    <% end %>

    <div class="user-summary">
      <br />
      <% if @notifications.present? %>
        <div id="notifications" class="actioncable">
          <ul>
            <%= render @notifications %>
          </ul>
        </div>
        <div class="time"><%= link_to "Mark as Read", last_read_user_path, method: :patch, :class => 'mark-read' %></div>
      <% else %>
        <p>You're up to date!</p>
      <% end %>
    </div>
  </div>

  <div class="top-right hover-shadow user-notes">
   <%= link_to "Notes", "#", :class => "notepad-link" %>
  </div>

  <div id="tasks-pane">
    <h1>Your Tasks</h1>
    <div class="sort-button sort-button-priority button yellow yellow-active">by priority</div>
    <div class="sort-button sort-button-deadline button yellow">by deadline </div>
    <div class="sort-button sort-button-creation button yellow">by creation </div>
    <br />
    <% if @tasks.present? %>
      <%= render "tasks/tasks" %>
    <% else %>
      <p>There's no work to be done!</p>
    <% end %>
  </div>

  <div class="notepad">
    <%= form_for(@user) do |f| %>
      <div class="field">
        <%= f.text_area :notes, :class => "text-area-box" %>
      </div>
      <div class="submit">
        <%= f.submit "Add Note"%>
      </div>
    <% end %>
  </div>

</div>
