<%= link_to "Projects", projects_path  %>
<div class="get-quotes">
 <%= link_to "Need Encouragement?" %>
</div>
<h1>Welcome, <%= @user.first_name %></h1>
<h2><%= new_image.photographer %></h2>
<h3><%= new_image.portfolio_link %></h3>
<h3><%= new_image.image %></h3>

<% if @user.task.present? %>
  <h2><%= @user.task.task_body %></h2>
<% else %>
  <h2>What are you focused on today?</h2>
  <%= link_to "See all tasks" %>
<% end %>

<%= link_to "Tasks" %>
<div class="tasks-pane">
  <ul>
    <% @tasks.each do |task| %>
    <li>
      <p><%= task.task_body %></p>
      <p><%= task.project.title %></p>
      <p><%= task.project.hard_deadline %></p>

      <% unless task.complete? %>
        <%= link_to "Edit Task", edit_project_task_path(task.project, task) %>
        <%= link_to "Task completed?", completed_project_task_path(task.project, task), method: :patch %>
        <%= link_to "Pin Task", pin_task_user_path(task: task), method: :patch %>
        <% else %>
        <p>Task completed on <%= task.completed_on %></p>
      <% end %>
    </li>
  <% end %>
</ul>
</div>


<%= link_to "Notes" %>
<div class="notepad">
  <p><%= @user.notes %></p>
  <%= form_for(@user) do |f| %>
    <div class="field">
      <%= f.text_area :notes, cols: "60", rows: "8" %>
    </div>
    <div class="submit">
      <%= f.submit "Add Note"%>
    </div>
  <% end %>
</div>
