<%= form_for @project do |f| %>

  <% if @project.errors.any? %>
    <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, cols: "25", rows: "4" %>
  </div>

  <div class="field">
    <%= f.label "Soft Deadline (Optional)" %>
    <%= f.date_field :soft_deadline %>
  </div>

  <div class="field">
    <%= f.label :hard_deadline %>
    <%= f.date_field :hard_deadline %>
  </div>

  <div class="field">
    <%= f.submit %>
  </div>

<% end %>
