<div class="project-index">
  <div class="create-project">
    <%= link_to new_project_path do %>
    <h2>Create New Project</h2>
    <% end %>
  </div>
  <div class="project-list">

    <% if @invites.any? %>
      <div class="invite-card">
        <h1>Pending Project Invites</h1>
        <% @invites.each do |invite| %>
        <h3>Project Name: <%= invite.project.title %> |
        <%= link_to "Join Project", join_project_member_path(invite.project, invite), method: :patch %>
        </h3>
        <% end %>
      </div>
    <% end %>

    <% @projects.each do |project| %>
    <%= link_to(project.project) do %>
      <div class="project-card">
          <div class="project-title">
            <%= link_to(project_path(project.project), class: "title-link") do %>
              <h1><%= project.project.title %></h1>
            <% end %>
          </div>
          <div class="project-card-left">
            <h2><%= project.role %></h2>
            <p>Project Due Date: <%= project.project.hard_deadline %></p>
            <p>Time Remaining: <%= project.project.time_remaining_hard_dd %></p>
            <%= link_to "Project Page", project_path(project.project) %>
            <% if project.project.user == current_user %>
            |
            <%= link_to "Edit", edit_project_path(project.project) %>
            |
            <%= link_to "Delete", project_path(project.project), method: :delete, data: { confirm: "Are you sure you want to delete #{project.project.title}? This cannot be undone."} %>
            <% end %>
          </div>

          <div class="project-card-right">
            <p><%= project.project.description %></p>
          </div>
        </div>
        <% end %>
    <% end %>
  </div>
</div>
