<%= link_to "Project Details" %>
<div class="project-details">
  <p><%= @project.description %></p>
  <% @project.members.each do |member| %>
    <p><%= member.user.full_name %></p>
  <% end %>
  <% if @project.soft_deadline.present? %>
    <p>Soft Deadline: <%= @project.soft_deadline %></p>
  <% end %>
  <p>Final Deadline: <%= @project.hard_deadline %></p>
  <%= link_to "Project Calendar" %>
</div>
<h1><%= @project.title %></h1>
<p><%= @project.time_remaining %> Remaining</p>
<p><%= @project.percentage_complete %>%</p>
