<div class="project-page">

  <div class="get-details">
    <%= link_to "Project Details" %>
    <div class="project-details">
      <p><%= @project.description %></p>
      <% @members.each do |member| %>
        <p><%= member.user.full_name %>: <%= member.role %></p>
      <% end %>

      <% if @project.user == current_user%>
        <%= link_to "Add a Member", new_project_member_path(@project) %>
      <% end %>

      <% if @project.soft_deadline.present? %>
        <p>Soft Deadline: <%= @project.soft_deadline %></p>
      <% end %>

      <p>Final Deadline: <%= @project.hard_deadline %></p>

      <div title="Add to Calendar" class="addeventatc">
        Add to Calendar
        <span class="start"><%= @project.hard_deadline.strftime("%m/%d/%Y") %> 08:00 AM</span>
        <span class="end"><%= @project.hard_deadline.strftime("%m/%d/%Y") %> 10:00 AM</span>
        <span class="timezone">America/New_York</span>
        <span class="title">Mr Manager Project: <%= @project.title %></span>
        <span class="description"><%= @project.description %></span>
        <span class="alarm_reminder">10080</span>
        <span class="calname">use-title</span>
      </div>
    </div>
  </div>

  <div class="project-summary">
    <span class="name"><%= @project.title %></span>
    <p><%= @project.time_remaining %> Remaining</p>
    <p><%= @project.percentage_complete %></p>

    <div class="events-container">
      <h1 class="activity-log-title">Activity Log</h1>
      <div id="events">
        <%= render @events %>
      </div>
    </div>
  </div>

  <div class="project-tasks">
    <% if @project.members.where('user_id = ?', current_user.id).count > 0 %>
    <% end %>

    <% if @tasks.present? %>
    <div class="tasks-list">
      <ul>
        <% @tasks.each do |task| %>
        <li>

          <p> <%= task.task_body %></p>
          <span><%= task.user.full_name %></span>
          <% if !task.complete? && (task.project.user == current_user || task.user == current_user) %>
          <%= link_to "Edit Task", edit_project_task_path(@project, task) %>
          <% end %>

          <% if task.project.user == current_user %>
          <%= link_to "Delete Task", project_task_path(@project, task), method: :delete, data: { confirm: "Are you sure you want to delete this task? This cannot be undone."} %>
          <% end %>

          <% if task.user == current_user && !task.complete? %>
          <%= link_to "Task completed?", completed_project_task_path(@project, task), method: :patch %> | <%= link_to "Pin Task", pin_task_user_path(task: task), method: :patch %>
          <% end %>

          <% if task.complete? %>
          <p>Task completed on <%= task.completed_on %></p>
          <% end %>

        </li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <%= render 'tasks/form', locals: {task: @task, project: @project} %>
    <%= link_to "Tasks" %>
  </div>

  <div id="discussion"><%= link_to "Discussion", id: "discussion"%></div>
  <div class="discussion">
    <div class="message-board">
      <% if @messages.present? %>
        <% @messages.each do |message| %>
        <%= render 'messages/message', message: message %>
        <% end %>
      <% end %>

      <% if @project.members.where('user_id = ?', current_user.id).count > 0 %>
      <%= render 'message_form' %>
      <% end %>
    </div>
  </div>

</div>
