<div class="project-page">

  <div class="task-form-cont">
    <%= render 'tasks/form', locals: {task: @task, project: @project} %>
  </div>

  <div class="top-left hover-shadow details-link">
    <%= link_to "Details","#", :class => "detail-link" %>
  </div>

  <div class="project-details" id="details-pane">

    <h1><%= @project.title %></h1>

    <p><%= @project.description %></p>

    <% if @project.soft_deadline.present? %>
      <p><div class="button blue">
        Soft Deadline: <%= @project.soft_deadline %>
      </div></p>
    <% end %>

    <p><div class="button red">
      Final Deadline | <%= @project.hard_deadline %>
    </div></p>

    <h2>Members</h2>
    <% if @project.user == current_user%>
      <%= link_to new_project_member_path(@project) do %>
        <div class="button green">add member</div>
      <% end %>
    <% end %>

    <div class="member-list">
      <% @members.each do |member| %>

        <div class="member">
          <%= member.user.full_name %><br />
          <div class="time">
            <%= member.role %> <% if @project.user == current_user%>| <%= member.project_tasks_completed_percent(@project) %>%<%end%>
          </div>
        </div>

      <% end %>
    </div>


    <br />
    <div title="Add to Calendar" class="addeventatc">
      Add to Calendar
      <span class="start"><%= @project.hard_deadline.strftime("%m/%d/%Y") %> 08:00 AM</span>
      <span class="end"><%= @project.hard_deadline.strftime("%m/%d/%Y") %> 10:00 AM</span>
      <span class="timezone">America/New_York</span>
      <span class="title">Mr Manager Project: <%= @project.title %></span>
      <span class="description"><%= @project.description %></span>
      <span class="alarm_reminder">10080</span>
      <span class="calname">use-title</span>
    </div>

  </div>


  <div class="project-summary animated">
    <span class="name"><%= @project.title %></span>
    <p>
      <% if @project.soft_deadline.present? %>
        <div class="button white"><%= @project.time_remaining_soft_dd %> from soft deadline</div>
      <% end %>
      <div class="button white"><%= @project.time_remaining_hard_dd %> from hard deadline</div>
    </p>
    <p><div class="progress-bar">
      <div class="progress-bar-inside green" style="width: <%= @project.percentage_complete %>">
      <%= @project.percentage_complete %></div>
    </div></p>


    <div class="events-container">
      <div class="title-tasks">
        <h1 class="activity-log-title">Activity Log</h1>
        <%= link_to "#" do %>
          <div class="button purple tasks-link">View all tasks</div>
        <% end %>
      </div>
      <div id="events" class="actioncable">
        <div class="event">
          <ul>
            <%= render @events %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="tasks-pane">
    <h1>Project Tasks</h1>
    <div class="add-task-button">
      <%= link_to "+ Add a task", "#", class: "addtask"%>
    </div>
    <br />
    <div class="sort-button project-sort-button-priority button yellow yellow-active">by priority</div>
    <div class="sort-button project-sort-button-user button yellow">by user </div>
    <br />
    <% if @project.members.where('user_id = ?', current_user.id).count > 0 %>
    <% end %>

    <% if @tasks.present? %>
      <%= render 'tasks/project_tasks' %>
    <%else%>
      <p>No tasks have been created yet.</p>
    <% end %>
  </div>

  <div id="discussion" class="top-right hover-shadow" style="padding-right: 1em;"><%= link_to "Discussion", { id: @project.id }, class: "discussion-link" %></div>
  <div class="discussion">
    <div class="message-board">
      <div class="all-messages">
        <% if @messages.present? %>
          <% @messages.each do |message| %>
            <%= render 'messages/message', message: message %>
          <% end %>
        <% end %>
      </div>
        <% if @project.members.where('user_id = ?', current_user.id).count > 0 %>
        <%= render 'messages/form' %>
        <% end %>
    </div>
  </div>

</div>
