<!DOCTYPE html>
<html>
  <head>
    <title>MrManager</title>
    <%= csrf_meta_tags %>

    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
    <script src="https://use.fontawesome.com/14d9b72565.js"></script>

  </head>

  <body data-hex="<%= new_image.hex %>" style="background-image:url(<%= new_image.image %>)" >
    <% if session[:user_id] %>
    <header>
      <div class="logged-in-left">
        <%= link_to "Projects", projects_path(current_user) %>
      </div>
      <div class="logged-in">

        <% if (controller_name == 'users' && action_name == 'show') || (controller_name == 'projects' && action_name == 'show')%>
          <div class="get-quotes">
            <%= link_to "#" do  %>
             Need Encouragement?
            <% end %>&nbsp;|&nbsp;</div>
          <% end %>
        <% unless controller_name == 'users' && action_name == 'show' %>
          <%= link_to "Dashboard", user_path(current_user) %>
          &nbsp;|&nbsp;
        <% end %>
        <%= link_to "Logout", :logout, method: :delete %>
      </div>
    </header>
    <% end %>

    <main class="animated fadeIn">
      <%= yield %>
    </main>

    <footer>
      <p>Image Courtesy of <%= link_to "Unsplash", "http://unsplash.com?utm_source=Mr_Manager&utm_medium=referral&utm_campaign=api-credit", target: "_blank" %>. Photographer: <%= new_image.photographer %> (<%= link_to "see their portfolio", (new_image.portfolio_link+"?utm_source=Mr_Manager&utm_medium=referral&utm_campaign=api-credit"), target: "_blank" %>).</p>
    </footer>
  </body>

</html>
